
@font-face
{
 font-family: 'Aloha';
 src: url('../Fonts/Aloha.otf');
}

@font-face
{
 font-family: 'TimesNewRoman';
 src: url('../Fonts/TimesNewRoman.ttf');
}

body {
 background: url(../Images/FondoCarrillo.jpg);
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size:  cover;
 background-color: #ffffff;

}

h2{
color: #FFF;
text-align: center;
font-size: 30px;
font-family: 'Aloha';
}

p {
    color: #FFFFFF;
    text-align:justify;
    margin: 20px 20px 5px;
     font-family: 'TimesNewRoman';
}

#Box{
	max-width: 500px;
	min-width: 300px;
height: 320px;
margin: 70px 0px 200px 150px;
/**width: calc(40% - 100px);**/
margin-right: auto;

}

#Contenido{
background: rgba(0, 0, 0, 0.34);
height: 253px;
overflow-y: auto;
}
