@font-face
{
 font-family: 'Aloha';
 src: url('../Fonts/Aloha.otf');
}

@font-face
{
 font-family: 'TimesNewRoman';
 src: url('../Fonts/TimesNewRoman.ttf');
}

body {
 background: url(../Images/playa-cocles-cocles-island-5.png); 	
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size:  cover;
 background-color: #ffffff;
}

h1{
	text-align="center";
	color:#FFFFFF;
	font-family:'Aloha';
	font-size: 43px;
	padding-left: 7%; 
}

#description{
	background: rgba(0, 0, 0, 0.57);
	width: 450px;
	height: 345px;  
	text-align="justify";
	margin-left: 63%;
}

#texto_description{
	text-align:justify;
	color: #FFFFFF;
	font-family: 'TimesNewRoman';
}

#footer{
	background: rgba(0, 0, 0, 0.52);
	height: 92px;
	width: 100%;
	margin-top: 5%;
}

#menu {
	
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #7A7777;
}

h2{
	text-align="left";
	color:#FFFFFF;
	font-family:'Aloha';
	font-size: 14px;
	line-height: 0.7;
	padding-top: 1px;
}

