@font-face
{
 font-family: 'Aloha';
 src: url('../Fonts/Aloha.otf');
}

@font-face
{
 font-family: 'TimesNewRoman';
 src: url('../Fonts/TimesNewRoman.ttf');
}

body {
 background: url(../Images/playa-cocles-cocles-island-5.png); 	
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size:  cover;
 background-color: #ffffff;
}

h1{
	text-align="center";
	color:#FFFFFF;
	font-family:'Aloha';
	font-size: 43px;
	padding-left: 7%; 
}

#description{
	background: rgba(0, 0, 0, 0.44);
	width: 450px;
	height: 350px;  
	text-align=justify-content;
	margin-left: 63%;
}

#texto_description{
	text-align="justify";
	color: #FFFFFF;
	font-family: 'TimesNewRoman';
}

#footer{
	background: rgba(0, 0, 0, 0.52);
	height: 100px;
	width: 100%;
	margin-top: 5%;
}

#menu {

}

h2{
	text-align="left";
	color:#FFFFFF;
	font-family:'TimesNewRoman';
	font-size: 12px;
}