@font-face
{
  font-family: 'Aloha';
  src: url('../Fonts/Aloha.otf');
}

@font-face
{
  font-family: 'TimesNewRoman';
  src: url('../Fonts/TimesNewRoman.ttf');
}

#Papagayo
{
  background-image: url("../Images/1.jpg");
}

#Conchal
{
  background: url(http://5f1daaa6ffd3f7c4e772-4b66d1c568cfc5d61880d77a99562544.r88.cf1.rackcdn.com/XLGallery/wes3560wn-186215-Playa-Conchal.jpg);
  background-repeat:  no-repeat;
  background-size: 100% 250%;
}

#Cocles
{
  background: url(../Images/playa-cocles-cocles-island-5.png);
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: 100% 350%;
}

#Carrillo
{
  background: url(../Images/FondoCarrillo.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: 100% 310%;
}

#VisitCostaRica
{
  background-image: url("../Images/costaRicaWeather.jpg");
}

h2
{
  font-size:60px;
  font-family:'Aloha';
  padding-bottom: 10px;
  color:white;
  text-shadow: 2px 2px #888888;
}

p
{
  color: #FFFFFF;
  font-family: 'TimesNewRoman';
}
